<!-- <form mat-dialog-actions action="submit" [formGroup]="project" (submit)="createOrUpdate(project)">
  <div mat-dialog-content>
      <p>Cadastro do Lead</p>
      <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>

          <input matInput [(ngModel)]="data.curso" id="curso" type="text" formControlName="curso" placeholder="Curso" name="curso" require>
      </mat-form-field>
      <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>

          <input matInput [(ngModel)]="data.grau" id="grau" type="text" formControlName="grau" placeholder="Grau" name="grau" require>
      </mat-form-field>
      <mat-form-field appearance="fill">
          <mat-label>Telefone</mat-label>

          <input matInput [(ngModel)]="data.duracao" type="text" formControlName="duracao" name="duracao" id="duracao" class="input phone input-validate required error placeholder" placeholder="Duração do curso" autocomplete="off" require>
      </mat-form-field>
      <mat-form-field appearance="fill">
          <mat-label>Cidade</mat-label>

          <input matInput [(ngModel)]="data.valor" type="number" formControlName="valor" placeholder="Valor" name="valor" require>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Cidade</mat-label>

        <input matInput [(ngModel)]="data.descricao" type="text" formControlName="descricao" placeholder="Descricao" name="descricao" require>
    </mat-form-field>


      <div mat-dialog-actions>
          <button mat-button mat-dialog-close (click)="onNoClick()">Cancelar</button>
          <button mat-button class="submit" type="submit" class="btn btn-submit mt5 spacing-4" value="ENVIAR" cdkFocusInitial>Ok</button>
      </div>
    </div>
</form> -->
