<header class="header">
  <div class="faixa">
      <h1>ACESSO ADMINISTRATIVO</h1>
  </div>
</header>
<nav>
<button class="menu" mat-button><a href="/home">Home</a></button>
<button class="menu" mat-button [matMenuTriggerFor]="menu">Administrativo</button>
<mat-menu #menu="matMenu">
   <a href="/formulario"><button mat-menu-item>Relatórios</button></a>
   <a href="/cadlogin"><button mat-menu-item>Cadastro de login</button></a>
   <a href="/addcurso"><button mat-menu-item>Adicionar cursos</button></a>
</mat-menu>
<button class="menu" mat-button [matMenuTriggerFor]="vendedor">Vendedor</button>
<mat-menu #vendedor="matMenu">
  <a href="/lead"><button mat-menu-item>Lead</button></a>
  <a href="/vendas"><button mat-menu-item>Venda de cursos</button></a>
  <a href="/cursos"><button mat-menu-item>Cursos</button></a>
  <a href="/alunos"><button mat-menu-item>Alunos</button></a>
</mat-menu>
<button class="menu" mat-button href="/sair">Sair</button>
</nav>
<header class="header">
  <div class="underline">
  </div>
</header>
