<body>
  <header class="header">
      <div class="faixa">
          <h1>ACESSO ADMINISTRATIVO</h1>
      </div>
  </header>
  <nav>
      <a href="/home">HOME</a>
      <button class="menu" mat-button [matMenuTriggerFor]="menu">Administrativo</button>
      <mat-menu #menu="matMenu">
         <button mat-menu-item ref="/formulario">Relatórios</button>
         <button mat-menu-item><a href="/cadlogin">Cadastro de login</a></button>
         <button mat-menu-item><a href="/addcurso">Adicionar cursos</a></button>
      </mat-menu>
      <button class="menu" mat-button [matMenuTriggerFor]="vendedor">Vendedor</button>
      <mat-menu #vendedor="matMenu">
         <button mat-menu-item><a href="/cursos">Cursos</a></button>
         <button mat-menu-item><a href="/vendas">Venda de cursos</a></button>
      </mat-menu>
      <a href="/sair">SAIR</a>
  </nav>
  <header class="header">
      <div class="underline">
      </div>
  </header>

  <table mat-table [dataSource]="projects" class="mat-elevation-z8">

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)" id="check">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let projects"> {{projects.email}} </td>
    </ng-container>


    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let projects"> {{projects.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="telefone">
      <th mat-header-cell *matHeaderCellDef> Contato </th>
      <td mat-cell *matCellDef="let projects">{{projects.telefone}}</td>
    </ng-container>


    <ng-container matColumnDef="duvidas">
      <th mat-header-cell *matHeaderCellDef> Dúvidas </th>
      <td mat-cell *matCellDef="let projects"> {{projects.duvidas}} </td>
    </ng-container>

    <ng-container matColumnDef="encerrar">
      <th mat-header-cell *matHeaderCellDef> Encerrar lead </th>
      <td mat-cell *matCellDef="let projects">
        <button onchange="document.getElementById('check').disable = !this.checked;">Encerrar Lead</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
    </tr>

  </table>
