<app-header></app-header>

<mat-form-field appearance="standard">
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input />
</mat-form-field>

<div class="mat-elevation-z8" searchFilter:searchValue>
  <table
    mat-table
    [dataSource]="dataSource"
    multiTemplateDataRows
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let projects">{{ projects.aluno.nome }}</td>
    </ng-container>

    <ng-container matColumnDef="cidade">
      <th mat-header-cell *matHeaderCellDef>Cidade</th>
      <td mat-cell *matCellDef="let projects">{{ projects.aluno?.cidade }}</td>
    </ng-container>

    <ng-container matColumnDef="cpf">
      <th mat-header-cell *matHeaderCellDef>CPF</th>
      <td mat-cell *matCellDef="let projects">{{ projects.aluno?.cpf }}</td>
    </ng-container>

    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef>Valor</th>
      <td mat-cell *matCellDef="let projects">{{ projects.valor_total }}</td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>Data da venda</th>
      <td mat-cell *matCellDef="let projects">
        {{ projects.createdAt | date: "dd-MM-yyyy"}}
      </td>
    </ng-container>

    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef>Dados do vendedor</th>
      <td mat-cell *matCellDef="let projects">
        {{ projects.user.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="detalhes">
      <th mat-header-cell *matHeaderCellDef>Detalhes</th>
      <td mat-cell *matCellDef="let projects">
        <button mat-raised-button (click)="openInfo(projects)">
          Detalhes da venda
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef>Editar</th>
      <td mat-cell *matCellDef="let projects">
        <button mat-raised-button (click)="editar(projects)">
          Editar
        </button></td>
    </ng-container>

    <ng-container matColumnDef="deletar">
      <th mat-header-cell *matHeaderCellDef>Deletar</th>
      <td mat-cell *matCellDef="let projects">
        <button mat-raised-button (click)="deletar(projects)">Deletar</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row">
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[10]"
    aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
