
<body>
    <header class="header">
        <div class="faixa">
            <h1>ACESSO ADMINISTRATIVO</h1>
        </div>
    </header>
    <nav>
      <button class="menu" mat-button href="/index">Home</button>
      <button class="menu" mat-button [matMenuTriggerFor]="menu">Administrativo</button>
      <mat-menu #menu="matMenu">
         <button mat-menu-item><a href="/formulario">Relatórios</a></button>
         <button mat-menu-item><a href="/cadlogin">Cadastro de login</a></button>
         <button mat-menu-item><a href="/addcurso">Adicionar cursos</a></button>
         <button mat-menu-item><a href="/lead">Lead</a></button>
      </mat-menu>
      <button class="menu" mat-button [matMenuTriggerFor]="vendedor">Vendedor</button>
      <mat-menu #vendedor="matMenu">
         <button mat-menu-item><a href="/cursos">Cursos</a></button>
         <button mat-menu-item><a href="/vendas">Venda de cursos</a></button>
      </mat-menu>
      <button class="menu" mat-button href="/sair">Sair</button>
  </nav>
    <header class="header">
        <div class="underline">
        </div>
    </header>
    <!-- <main>
          <form [formGroup]="project" (submit)="create()"   class="wrapper">
            <h2>Identificação</h2>
                <input type="text" formControlName="name" placeholder="Nome" name="name" required="">
                <input type="email" formControlName="email" placeholder="email" name="email" required="">
                <input type="password" formControlName="password" placeholder="Senha" name="password" required="">
            <h2>Setor</h2>
            <div>
                <input type="radio" formControlName="adm" name="rd" id="rd1"><label for="rd1">Administrativo</label>
                <input type="radio" formControlName="venda" name="rd" id="rd2"><label for="rd2">Vendas</label>
                <button type="submit" class="btn btn-submit mt5 spacing-4" value="ENVIAR">CADASTRAR</button><p class="submit"></p>
              </div>
          </form>
    </main> -->
    <div>
    <mat-form-field appearance="standard">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field>

        <button mat-raised-button (click)="openDialog(form, false)">Cadastrar funcionario</button>
      </div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let projects"> {{projects.name}} </td>
        </ng-container>


        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> E-mail </th>
          <td mat-cell *matCellDef="let projects"> {{projects.email}} </td>
        </ng-container>

        <ng-container matColumnDef="password">
          <th mat-header-cell *matHeaderCellDef> Permissão </th>
          <td mat-cell *matCellDef="let projects"></td>
        </ng-container>

        <ng-container matColumnDef="encerrar">
          <th mat-header-cell *matHeaderCellDef> Encerrar lead </th>
          <td mat-cell *matCellDef="let projects">
            <button mat-raised-button onchange="document.getElementById('check').disable = !this.checked;">Encerrar Lead</button>
          </td>
        </ng-container>

        <ng-container matColumnDef="editar">
          <th mat-header-cell *matHeaderCellDef> Editar </th>
          <td mat-cell *matCellDef="let projects">
            <button mat-raised-button (click)="openDialog(form, true)">Editar</button>
          </td>
        </ng-container>

        <ng-container matColumnDef="deletar">
          <th mat-header-cell *matHeaderCellDef> Deletar </th>
          <td mat-cell *matCellDef="let projects">
            <button mat-raised-button (click)="deletar(projects)">Deletar</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selection.toggle(row)">
        </tr>

        <tr class="mat-row">
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>

      </table>
</body>

