
<body>
    <header class="header">
        <div class="faixa">
            <h1>ACESSO ADMINISTRATIVO</h1>
        </div>
    </header>
    <nav>
        <a href="#">HOME |</a>
        <a href="/cursos">CURSOS |</a>
        <a href="/formulario">RELATÓRIOS |</a>
        <a href="/cadlogin">CADASTRO DE LOGIN |</a>
        <a href="/addcurso">ADICIONAR CURSOS |</a>
        <a href="/vendas">VENDA DE CURSOS |</a>
        <a href="/sair">SAIR</a>
    </nav>
    <header class="header">
        <div class="underline">
        </div>
    </header>
    <main>
          <form [formGroup]="project" (submit)="create()" class="wrapper">
            <h2>Identificação</h2>
                <input type="text" formControlName="name" placeholder="Nome" name="name" required="">
                <input type="email" formControlName="email" placeholder="email" name="email" required="">
                <input type="password" formControlName="password" placeholder="Senha" name="password" required="">
            <h2>Setor</h2>
                <input type="radio" name="rd" id="rd1"><label for="rd1">Administrativo</label>
                <input type="radio" name="rd" id="rd2"><label for="rd2">Vendas</label>
                <input type="radio" name="rd" id="rd3"><label for="rd3">Financeiro</label>
            <h2>Permissões</h2>
                <input type="checkbox" name="cb" id="cb1"><label for="cb1">Cursos</label>
                <input type="checkbox" name="cb" id="cb2"><label for="cb2">Relatórios</label>
                <input type="checkbox" name="cb" id="cb3"><label for="cb3">Cadastro de logins</label>
                <input type="checkbox" name="cb" id="cb4"><label for="cb4">Venda de cursos</label>
            <br>
          </form>
          <button type="submit" (click)="create();" class="btn btn-submit mt5 spacing-4" value="ENVIAR">CADASTRAR</button><p class="submit"></p>
    </main>
</body>

