<body>
  <header class="header">
      <div class="faixa">
          <h1>ACESSO ADMINISTRATIVO</h1>
      </div>
  </header>
  <nav>
    <button class="menu" mat-button href="/home">Home</button>
    <button class="menu" mat-button [matMenuTriggerFor]="menu">Administrativo</button>
    <mat-menu #menu="matMenu">
       <button mat-menu-item><a href="/formulario">Relatórios</a></button>
       <button mat-menu-item><a href="/cadlogin">Cadastro de login</a></button>
       <button mat-menu-item><a href="/addcurso">Adicionar cursos</a></button>
       <button mat-menu-item><a href="/lead">Lead</a></button>
    </mat-menu>
    <button class="menu" mat-button [matMenuTriggerFor]="vendedor">Vendedor</button>
    <mat-menu #vendedor="matMenu">
       <button mat-menu-item><a href="/cursos">Cursos</a></button>
       <button mat-menu-item><a href="/vendas">Venda de cursos</a></button>
    </mat-menu>
    <button class="menu" mat-button href="/sair">Sair</button>
</nav>
  <header class="header">
      <div class="underline">
      </div>
  </header>
  <body>
    <form [formGroup]="project" (submit)="create()" action="submit">
        <h1>REALIZAR VENDA</h1>
          <input type="txt" formControlName="nome" placeholder="Nome completo" name="nomeCurso" required="">
          <input type="num" formControlName="cpf" placeholder="CPF" name="CPF" required="">
          <input type="txt" formControlName="cidade" placeholder="Cidade" name="txtGrau" required="">
          <input type="txt" formControlName="idade" placeholder="Idade" name="txtGrau" required="">
          <input type="num" formControlName="valor" name="valorCurso" id="valor" placeholder="Valor pago">
           <button type="submit" class="btn btn-submit mt5 spacing-4" value="ENVIAR">VENDER</button>
    </form>
</body>
