.header
{
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background: #ffffff;
    color: #000000;
    font-size: 16px;
    font-family: Economica, Arial, Helvetica, sans-serif;
}

.faixa
{
    background-image: linear-gradient(to right, #3bd1d9, #2784b9, #053897);
    width: 100%;
    height: 70px;
    position: absolute;
}

h1
{
    font-family: League Spartan, Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 35px;
    text-align: right;
    color: white;
}

nav, a
{
    font-weight: bold;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 20px;
    padding-right: 10px;
    text-decoration: none;
}

nav > button
{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.underline
{
    background-image: linear-gradient(to right, #3bd1d9, #2784b9, #053897);
    width: 100%;
    height: 10px;
    position: absolute;
    color: transparent;
}
main
{
    padding-top: 30px;

    text-align: center;
    display: block;
    justify-items: auto;

}


//-------------------------------------------------------------------------------------------------

form
{
    max-width: auto;
    margin: 50px auto;

    position:relative;

    background:#fafafa;
    min-height: 50px;
    padding: 20px;
    margin: none;

    align-items: center;
    display: flex;
    flex-direction: column;
}

div > table{
  width: 50%;
  max-width: auto;
  margin: 50px auto;
}

div > ul{
  width: 50%;
  max-width: auto;
  margin: auto;
}

tr.mat-footer-row {
  font-weight: bold;
}

.example-form {
  min-width: 150px;
  max-width: 650px;
  width: 100%;
}

.example-full-width {
  width: 300px;
}

td {
  padding-right: 8px;
}

.demo-table {
  width: 100%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: #2784b9;
}

.demo-row-is-clicked {
  // font-weight: bold;
  background-image: linear-gradient(to left, #ffffff, #ffffff,#3bd1d9, #2784b9);
}
