<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ACESSO ADMINISTRATIVO</title>
</head>
<body>
    <header class="header">
        <h1>ACESSO ADMINISTRATIVO</h1>
    </header>
    <div class="sombra">

    <main class="login">
      <form action="/dashboard.html" class="loginForm" [formGroup]="user" (submit)="signIn()">
            <input
            type="text"
            formControlName="email"
            id="username"
            name="email"
            class="input"
            placeholder="Email"
            required
            autofocus/>
            <span class="error-message"></span>
        <br>
            <input
            type="password"
            id="password"
            formControlName="password"
            name="password"
            class="input"
            placeholder="Password"
            require/>
            <span class="error-message"></span>
        <br>
        <button class="button" type="submit">Login</button>
    </form>
    </main>
</div>
</body>
</html>
