<script src="./venda.js"></script>

<body>
  <header class="header">
      <div class="faixa">
          <h1>ACESSO ADMINISTRATIVO</h1>
      </div>
      <script src="./venda.js"></script>
  </header>
  <nav>
    <a href="/home">HOME |</a>
    <a href="/cursos">CURSOS |</a>
    <a href="/formulario">RELATÓRIOS |</a>
    <a href="/cadlogin">CADASTRO DE LOGIN |</a>
    <a href="/addcurso">ADICIONAR CURSOS |</a>
    <a href="/vendas">VENDA DE CURSOS |</a>
    <a href="/sair">SAIR</a>
  </nav>
  <header class="header">
      <div class="underline">
      </div>
  </header>
<body>
    <div>
      <table class="table table-striped table-hover" *ngFor="let project of projects">
        <thead>
          <th>Curso</th>
          <th>Grau</th>
          <th>Duração</th>
          <th>Valor</th>
          <th>Descrição</th>
        </thead>
        <tbody>
          <tr>
            <td>{{project.curso}}</td>
            <td>{{project.grau}}</td>
            <td>{{project.duracao}}</td>
            <td>{{project.valor}}</td>
            <td>{{project.descricao}}</td>
          </tr>
        <div>
          <button (click)="deletar(project)">Deletar</button>
          <button (click)="update(project)">Atualizar</button>
          <button>Adicionar a venda</button>
        </div>
        </tbody>
      </table>
    </div>
    <section>
      <h2>Carrinho</h2>
      <div>
        <strong>Curso</strong>
        &lt;&gt;
        <strong>Preço</strong>
        &lt;&gt;
        <strong>Quantidade</strong>
        <input type="num">
        <button class="remove" >Remover</button>
      </div>
      <div>
        <strong><p>Total</p></strong>
      </div>

    </section>
      <button (click) ="vendas()">Vender</button>
</body>
