<!-- <mat-list *ngFor="let projects of projects">
  <mat-list-item>{{projects.aluno?.nome}}</mat-list-item>
  <mat-divider></mat-divider>
</mat-list> -->

<mat-tab-group mat-align-tabs="start" style="list-style: none;">
  <mat-tab label="Dados pessoais">
    <mat-divider></mat-divider>
    <li><p>Nome: {{ data.aluno?.nome }}</p></li>
    <mat-divider></mat-divider>
    <li><p>Idade: {{ data.aluno?.idade }}</p></li>
    <mat-divider></mat-divider>
    <li><p>CPF: {{ data.aluno?.cpf }}</p></li>
    <mat-divider></mat-divider>
    <li><p>CEP: {{ data.aluno?.cep }}</p></li>
    <mat-divider></mat-divider>
    <li><p>Endereço: {{ data.aluno?.endereco }}</p></li>
    <mat-divider></mat-divider>
    <li><p>Cidade: {{ data.aluno?.cidade }}</p></li>
    <mat-divider></mat-divider>
    <li><p>Estado: {{ data.aluno?.estado }}</p></li>
    <mat-divider></mat-divider>
    <li><p>Telefone: {{ data.aluno?.telefone }}</p></li>
    <mat-divider></mat-divider>
    <li><p>E-mail: {{ data.aluno?.email }}</p></li>
    <mat-divider></mat-divider>
  </mat-tab>
  <mat-tab label="Dados do curso">
    <ul *ngFor="let curso of data.cursos" style="list-style: none;">
      <mat-divider></mat-divider>
      <li>Curso: {{curso.curso}}</li>
      <li>Duração: {{curso.duracao}}</li>
      <li>Grau: {{curso.grau}}</li>
      <li>Valor: {{curso.valor | currency: 'BRL'}}</li>
      <mat-divider></mat-divider>
    </ul>
  </mat-tab>
  <mat-tab label="Detalhes da venda" style="list-style: none;">
    <li>Nome: {{projects.user?.name}}</li>
    <li>E-mail: {{projects.user?.email}}</li>
    <li>Data da venda:{{ data.aluno?.createdAt}}</li>
  </mat-tab>
</mat-tab-group>
<button mat-raised-button>Baixar comprovante</button>

