<!-- <mat-list *ngFor="let projects of projects">
  <mat-list-item>{{projects.aluno?.nome}}</mat-list-item>
  <mat-divider></mat-divider>
</mat-list> -->

<mat-list>
  <mat-list-item>{{ data.aluno?.cep }}</mat-list-item>
  <mat-list-item>{{ data.aluno?.cidade }}</mat-list-item>
  <mat-list-item>{{ data.aluno?.cpf }}</mat-list-item>
  <mat-list-item>{{ data.aluno?.createdAt }}</mat-list-item>
  <mat-list-item>{{ data.aluno?.cursos }}</mat-list-item>
  <mat-list-item>{{ data.aluno?.email }}</mat-list-item>
  <mat-list-item>{{ data.aluno?.endereco }}</mat-list-item>
  <mat-list-item>{{ data.aluno?.estado }}</mat-list-item>
  <mat-list-item>{{ data.aluno?.idade }}</mat-list-item>
  <mat-list-item>{{ data.aluno?.nome }}</mat-list-item>
  <mat-list-item>{{ data.aluno?.telefone }}</mat-list-item>
  <mat-list *ngFor="let curso of data.cursos">
    <mat-list-item>{{curso.curso}}</mat-list-item>
    <mat-list-item>{{curso.duracao}}</mat-list-item>
    <mat-list-item>{{curso.grau}}</mat-list-item>
  </mat-list>
</mat-list>
