<!-- <mat-tab-group mat-align-tabs="start" style="list-style: none;">
  <mat-tab label="Dados pessoais">
    <mat-divider></mat-divider>
    <li><p>Nome: {{ data.aluno?.nome }}</p></li>
    <mat-divider></mat-divider>
    <li><p>Idade: {{ data.aluno?.idade }}</p></li>
    <mat-divider></mat-divider>
    <li><p>CPF: {{ data.aluno?.cpf }}</p></li>
    <mat-divider></mat-divider>
    <li><p>CEP: {{ data.aluno?.cep }}</p></li>
    <mat-divider></mat-divider>
    <li><p>Endereço: {{ data.aluno?.endereco }}</p></li>
    <mat-divider></mat-divider>
    <li><p>Cidade: {{ data.aluno?.cidade }}</p></li>
    <mat-divider></mat-divider>
    <li><p>Estado: {{ data.aluno?.estado }}</p></li>
    <mat-divider></mat-divider>
    <li><p>Telefone: {{ data.aluno?.telefone }}</p></li>
    <mat-divider></mat-divider>
    <li><p>E-mail: {{ data.aluno?.email }}</p></li>
    <mat-divider></mat-divider>
  </mat-tab>
  <mat-tab label="Dados do curso">
    <ul *ngFor="let curso of data.cursos" style="list-style: none;">
      <mat-divider></mat-divider>
      <li>Curso: {{curso.curso}}</li>
      <li>Duração: {{curso.duracao}}</li>
      <li>Grau: {{curso.grau}}</li>
      <li>Valor: {{curso.valor | currency: 'BRL'}}</li>
      <mat-divider></mat-divider>
    </ul>
  </mat-tab>
  <mat-tab label="Detalhes da venda">
    <ul style="list-style: none;">
      <li>Nome do vendedor: {{data.user?.name}}</li>
      <li>E-mail: {{data.user?.email}}</li>
      <li>Valor total: {{data.valor_total | currency: 'BRL'}}</li>
      <li>Valor pago: {{data.valorPago | currency: 'BRL'}}</li>
      <li>Troco: {{data.troco | currency: 'BRL'}}</li>
      <li>Data da venda:{{ data.aluno?.createdAt}}</li>
    </ul>
  </mat-tab>
</mat-tab-group>
<button mat-raised-button>Baixar comprovante</button>
 -->
