<mat-list>
    <mat-divider></mat-divider>
    <li><p>Nome: {{ data.aluno?.nome }} | Idade: {{ data.aluno?.idade }} | Idade: {{ data.aluno?.idade }} | CPF: {{ data.aluno?.cpf }}</p></li>
    <mat-divider></mat-divider>
    <li><p>CEP: {{ data.aluno?.cep }}</p></li>
    <mat-divider></mat-divider>
    <li><p>Endereço: {{ data.aluno?.endereco }}</p></li>
    <mat-divider></mat-divider>
    <li><p>Cidade: {{ data.aluno?.cidade }}</p></li>
    <mat-divider></mat-divider>
    <li><p>Estado: {{ data.aluno?.estado }}</p></li>
    <mat-divider></mat-divider>
    <li><p>Telefone: {{ data.aluno?.telefone }}</p></li>
    <mat-divider></mat-divider>
    <li><p>E-mail: {{ data.aluno?.email }}</p></li>
    <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <mat-list-item>Item 2</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Item 3</mat-list-item>
</mat-list>
