<link href="https://fonts.googleapis.com/css2?family=Economica:wght@400;700&display=swap">

<header class="header">
  <div class="logo">
    <a href="index.html"><img src="assets/img/Unilytex-200.png" alt="Icone" /></a>
  </div>
  <nav>
    <a href="/sobre">SOBRE</a>
    <a (click)="login()"><p>ACESSO ADM</p></a>
    <a href="/faleconosco">FALE CONOSCO</a>
  </nav>
</header>
<div class="faixa">
</div>
  <main>
    <div class="row">
      <div class="column">
        <div class="card">

          <img src="assets/img/matricula160.png" alt="Avatar" >
            <h4><b>EXTENSÃO</b></h4>
            <p>COSMETOLOGIA</p>
            <img src="assets/img/homem1.png" alt="homem1">

        </div>
      </div>
      <div class="column">
        <div class="card">

          <img src="assets/img/matricula160.png" alt="Avatar">
          <div class="container">
            <h4><b>MBA</b></h4>
            <p>ANÁLISE DE DADOS</p>
            <img src="assets/img/mulher.png" alt="homem1">
          </div>

        </div>
      </div>
      <div class="column">
        <div class="card">

          <img src="assets/img/matricula160.png" alt="Avatar">
          <div class="container">
            <h4><b>PÓS GRADUAÇÃO</b></h4>
            <p>DIREITO CONSTITUCIONAL</p>
            <img src="assets/img/homem2.png" alt="homem1">
          </div>

        </div>
      </div>
    </div>
  </main>
