
  <header class="header">
      <div class="faixa">
          <h1>ACESSO ADMINISTRATIVO</h1>
      </div>
  </header>
  <nav>
    <a href="/home">HOME</a>
    <button class="menu" mat-button [matMenuTriggerFor]="menu">Administrativo</button>
    <mat-menu #menu="matMenu">
       <button mat-menu-item><a href="/formulario">Relatórios</a></button>
       <button mat-menu-item><a href="/cadlogin">Cadastro de login</a></button>
       <button mat-menu-item><a href="/addcurso">Adicionar cursos</a></button>
    </mat-menu>
    <button class="menu" mat-button [matMenuTriggerFor]="vendedor">Vendedor</button>
    <mat-menu #vendedor="matMenu">
       <button mat-menu-item><a href="/cursos">Cursos</a></button>
       <button mat-menu-item><a href="/vendas">Venda de cursos</a></button>
    </mat-menu>
    <a href="/sair">SAIR</a>
</nav>
  <header class="header">
      <div class="underline">
      </div>
  </header>
  <!-- <div class="row container">
    <div class="col-md-4" *ngFor="let project of projects">
        <div class="card">
            <div class="card-body">
              <p>{{project.vendas}}</p>
                <p>Aluno: {{project.nome}}</p>
                <p>Cidade: {{project.cidade}}</p>
                <p>CPF: {{project.cpf}}</p>
                <p>Idade: {{project.idade}}</p>
                <p>Curso: {{project.curso}}</p>
                <p>Valor pago: {{project.valor}}</p>
                <p>Vendido por: {{project?.user?.name}}</p>
                <p>Email vendedor: {{project?.user?.email}}</p>

            </div>
            <div class="card-footer"  *ngFor="let task of project.addcurso">
                {{task.title}}
            </div>
            <div id="MyDIv" style="margin-left: 45px;" class="main-container">

            </div>
        </div>
    </div>
</div> -->

<table mat-table [dataSource]="projects" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let project"> {{project.nome}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="cidade">
    <th mat-header-cell *matHeaderCellDef> Cidade </th>
    <td mat-cell *matCellDef="let project"> {{project.cidade}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="cpf">
    <th mat-header-cell *matHeaderCellDef> CPF </th>
    <td mat-cell *matCellDef="let project"> {{project.cpf}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="idade">
    <th mat-header-cell *matHeaderCellDef> Idade </th>
    <td mat-cell *matCellDef="let project"> {{project.idade}} </td>
  </ng-container>

  <ng-container matColumnDef="curso">
    <th mat-header-cell *matHeaderCellDef> Curso </th>
    <td mat-cell *matCellDef="let project"> {{project.curso}} </td>
  </ng-container>

  <ng-container matColumnDef="valor">
    <th mat-header-cell *matHeaderCellDef> Valor </th>
    <td mat-cell *matCellDef="let project"> {{project.valor}} </td>
  </ng-container>

  <ng-container matColumnDef="user">
    <th mat-header-cell *matHeaderCellDef> Vendedor </th>
    <td mat-cell *matCellDef="let project"> {{project.user.name}} | E-mail: {{project.user.email}} </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

