
<body>
  <header class="header">
      <div class="faixa">
          <h1>ACESSO ADMINISTRATIVO</h1>
      </div>
  </header>
  <nav>
      <a href="acessoadm.html">HOME |</a>
      <a href="#">CURSOS |</a>
      <a href="#">RELATÓRIOS |</a>
      <a href="Cadlogin.html">CADASTRO DE LOGIN |</a>
      <a href="criacurso.html">ADICIONAR CURSOS |</a>
      <a href="#">VENDA DE CURSOS |</a>
      <a href="loginadm.html">SAIR</a>
  </nav>
  <header class="header">
      <div class="underline">
      </div>
  </header>
