
  <header class="header">
      <div class="faixa">
          <h1>ACESSO ADMINISTRATIVO</h1>
      </div>
  </header>
  <nav>
    <a href="/home">HOME |</a>
    <a href="/cursos">CURSOS |</a>
    <a href="/formulario">RELATÓRIOS |</a>
    <a href="/cadlogin">CADASTRO DE LOGIN |</a>
    <a href="/addcurso">ADICIONAR CURSOS |</a>
    <a href="/vendas">VENDA DE CURSOS |</a>
    <a href="/sair">SAIR</a>
  </nav>
  <header class="header">
      <div class="underline">
      </div>
  </header>
  <div class="row container">
    <div class="col-md-4" *ngFor="let project of projects">
        <div class="card">
            <div class="card-body">
              <p>{{project.vendas}}</p>
                <p>Aluno: {{project.nome}}</p>
                <p>Cidade: {{project.cidade}}</p>
                <p>CPF: {{project.cpf}}</p>
                <p>Idade: {{project.idade}}</p>
                <p>Curso: {{project.curso}}</p>
                <p>Valor pago: {{project.valor}}</p>
                <p>Vendido por: {{project?.user?.name}}</p>
                <p>Email vendedor: {{project?.user?.email}}</p>

            </div>
            <div class="card-footer"  *ngFor="let task of project.addcurso">
                {{task.title}}
            </div>
            <div id="MyDIv" style="margin-left: 45px;" class="main-container">

            </div>
        </div>
    </div>
</div>
