<body>
  <header class="header">
      <div class="faixa">
          <h1>ACESSO ADMINISTRATIVO</h1>
      </div>
  </header>
  <nav>
    <a href="/home">HOME |</a>
    <a href="/cursos">CURSOS |</a>
    <a href="/formulario">RELATÓRIOS |</a>
    <a href="/cadlogin">CADASTRO DE LOGIN |</a>
    <a href="/addcurso">ADICIONAR CURSOS |</a>
    <a href="/vendas">VENDA DE CURSOS |</a>
    <a href="/sair">SAIR</a>
  </nav>
  <header class="header">
      <div class="underline">
      </div>
  </header>
