<body>
  <header class="header">
      <div class="faixa">
          <h1>ACESSO ADMINISTRATIVO</h1>
      </div>
  </header>
  <nav>
    <button class="menu" mat-button href="/home">Home</button>
    <button class="menu" mat-button [matMenuTriggerFor]="menu">Administrativo</button>
    <mat-menu #menu="matMenu">
       <button mat-menu-item><a href="/formulario">Relatórios</a></button>
       <button mat-menu-item><a href="/cadlogin">Cadastro de login</a></button>
       <button mat-menu-item><a href="/addcurso">Adicionar cursos</a></button>
    </mat-menu>
    <button class="menu" mat-button [matMenuTriggerFor]="vendedor">Vendedor</button>
    <mat-menu #vendedor="matMenu">
      <button mat-menu-item><a href="/lead">Lead</a></button>
       <button mat-menu-item><a href="/vendas">Venda de cursos</a></button>
    </mat-menu>
    <button class="menu" mat-button href="/sair">Sair</button>
</nav>
  <header class="header">
      <div class="underline">
      </div>
  </header>
